<div class="bg-gray-50 dark:bg-gray-900 relative">
  <p class="text-3xl text-center font-semibold leading-normal text-gray-900 dark:text-white absolute top-5 w-full">
    Enterprise Chatbot
  </p>
  
  <div class="min-h-screen bg-gray-50 dark:bg-gray-900 flex flex-col">
    <div class="flex flex-1 flex-col max-w-2xl w-full mx-auto px-4 mb-3" [ngStyle]="{ 'justify-content': messages.length === 0 ? 'center' : 'flex-end' }">
      
      <div
        #scrollContainer
        *ngIf="messages.length > 0"
        class="flex flex-col space-y-2 mb-3 overflow-y-auto max-h-[70vh] scrollbar-thin scrollbar-thumb-gray-200 scrollbar-track-gray-200 dark:scrollbar-thumb-gray-600 dark:scrollbar-track-gray-700"
      >
        <chat-bubble *ngFor="let msg of messages" [message]="msg"></chat-bubble>
      </div>

      <input-text (submitAnswer)="handleMessage($event)"></input-text>

    </div>
  </div>
</div>