<!-- PROFILO QUANDO LA SIDEBAR È APERTA (expanded = true) -->
<div *ngIf="expanded" class="flex items-center gap-3">
    <!-- Avatar -->
    <div
        (click)="toggleDropdown($event)"
        class="cursor-pointer inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-400 rounded-full dark:bg-gray-600">
            <span class="font-medium text-gray-600 dark:text-white">{{ initials }}</span>
        </div>

    <!-- Info utente -->
    <div class="flex flex-col text-gray-900 dark:text-white text-sm leading-tight">
        <span class="font-semibold truncate">{{ name }} {{ surname }}</span>
        <span class="opacity-80 truncate overflow-hidden whitespace-nowrap flex flex-col min-w-0 w-full break-words" title="{{ email }}">{{ email }}</span>
        <span class="text-blue-600 dark:text-blue-400 font-medium text-xs truncate">{{ role }}</span>
    </div>
  <div
    [class.hidden]="!isOpen"
    class="absolute bottom-full mb-2 left-5 z-50
        bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44
        dark:bg-gray-700 dark:divide-gray-600">
        <div class="py-1">
            <a (click)="logout()"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                    dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
            Sign out
            </a>
        </div>
    </div>
</div>

<!-- PROFILO QUANDO LA SIDEBAR È CHIUSA (expanded = false) -->
<div *ngIf="!expanded" class="relative inline-block">
    <div class="relative inline-block">
        <!-- AVATAR -->
        <div
            (click)="toggleDropdown($event)"
            class="cursor-pointer inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-400 rounded-full dark:bg-gray-600">
            <span class="font-medium text-gray-600 dark:text-white">{{ initials }}</span>
        </div>

        <!-- DROPDOWN (sopra l'icona) -->
        <div
            [class.hidden]="!isOpen"
            class="absolute bottom-full mb-2 left-5 z-50
                bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44
                dark:bg-gray-700 dark:divide-gray-600">

            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div>{{ name }} {{ surname }}</div>
                <div class="text-xs text-blue-600 dark:text-blue-400">{{ role }}</div>
                <div class="font-medium truncate">{{ email }}</div>
            </div>
            <div class="py-1">
                <a (click)="logout()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                        dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                Sign out
                </a>
            </div>
        </div>
    </div>


</div>
