<div *ngIf="conversationEnded === true" class="flex items-center justify-center gap-2">
  <span class="text-sm text-gray-800 dark:text-gray-400 text-center">
    La conversazione è terminata. Per ulteriori domande
  </span>
  <button
    class="text-xs px-2 py-2 bg-gray-200 dark:hover:bg-gray-600  
          dark:bg-gray-800 hover:bg-gray-400
          text-gray-900 dark:text-white border border-gray-400 dark:border-gray-600 
          font-semibold rounded-xl shadow transition duration-200"
  >
    Nuova chat
  </button>
</div>

<form (ngSubmit)="onSubmit()" *ngIf="conversationEnded === false" class="flex items-center">
  <label for="simple-search" class="sr-only">Ask me something...</label>
  
  <textarea
    #textarea
    id="answer"
    name="answer"
    [(ngModel)]="answer"
    (ngModelChange)="onTextChange($event)"
    [disabled]="disabled || conversationEnded"
    rows="1"
    (keydown.enter)="onSubmit(); $event.preventDefault()"
    class="flex-1 bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Ask me something..."
    required
  ></textarea>
  
  <button
    type="submit"
    class="p-2.5 ms-1 text-sm font-medium text-gray-600 dark:text-white bg-gray-300 rounded-lg border border-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-500"
  >
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
      />
    </svg>
    <span class="sr-only">Send</span>
  </button>
</form>
