<div *ngIf="conversationEnded === true" class="flex justify-center md:justify-center items-center gap-2">
  
  <!-- MOBILE: testo a due righe + bottone affiancato -->
  <div class="flex flex-row items-center gap-2 md:flex-row md:gap-2">
    <div class="flex flex-col text-center md:flex-row text-gray-800 dark:text-gray-400 md:text-left md:gap-1">
      <span>La conversazione è terminata.</span>
      <span>Per ulteriori domande</span>
    </div>
    
    <!-- Bottone -->
    <button
      (click)="createNewChat()"
      class="text-xs px-2 py-2 bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-600 hover:bg-gray-400
             text-gray-900 dark:text-white border border-gray-400 dark:border-gray-600 
             font-semibold rounded-xl shadow transition duration-200"
    >
      Nuova chat
    </button>
  </div>
  
</div>






<form (ngSubmit)="onSubmit()" *ngIf="conversationEnded === false" class="flex items-center">
  <label for="simple-search" class="sr-only">Ask me something...</label>
  
  <textarea
    #textarea
    id="answer"
    name="answer"
    [(ngModel)]="answer"
    (ngModelChange)="onTextChange($event)"
    [disabled]="disabled || conversationEnded"
    rows="1"
    (keydown.enter)="onSubmit(); $event.preventDefault()"
    class="flex-1 bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Ask me something..."
    required
  ></textarea>
  
  <button
    type="submit"
    class="ms-1 text-sm font-medium text-gray-600 dark:text-white bg-gray-300 rounded-lg border border-gray-500 hover:bg-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600"
  >
    <i class="p-2 material-icons">&#xe163;</i>
    <span class="sr-only">Send</span>
  </button>
</form>
